In [2]:
%pip install matplotlib
%pip install pandas
%pip install IPython
%matplotlib inline
from IPython.display import display
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Requirement already satisfied: matplotlib in c:\users\sjvar\appdata\local\programs\python\python313\lib\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sjvar\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\sjvar\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sjvar\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sjvar\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\sjvar\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.2.1)
Requirement already satisfied: packaging>=20.0 in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\sjvar\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sjvar\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in c:\users\sjvar\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sjvar\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sjvar\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sjvar\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: IPython in c:\users\sjvar\appdata\roaming\python\python313\site-packages (8.31.0)
Requirement already satisfied: colorama in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from IPython) (0.4.6)
Requirement already satisfied: decorator in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from IPython) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from IPython) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from IPython) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from IPython) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from IPython) (2.19.1)
Requirement already satisfied: stack_data in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from IPython) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from IPython) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from jedi>=0.16->IPython) (0.8.4)
Requirement already satisfied: wcwidth in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->IPython) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from stack_data->IPython) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from stack_data->IPython) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\sjvar\appdata\roaming\python\python313\site-packages (from stack_data->IPython) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pd.__version__

'2.2.3'

In [4]:
pd.options.display.min_rows = 20

In [6]:
#%pip install openpyxl
import os

data_files = 'C:/Users/sjvar/Dev/pythondev/datasets/vehicles.csv'
if os.path.exists(data_files):
	autos = pd.read_csv(data_files)
	display(autos)
else:
	print(f"File not found: {data_files}")

C:\Users\sjvar\AppData\Local\Temp\ipykernel_28064\340024091.py:6: DtypeWarning: Columns (74,75,77) have mixed types. Specify dtype option on import or set low_memory=False.
  autos = pd.read_csv(data_files)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,14.167143,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,27.046364,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,27.046364,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,15.658421,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
5,13.523182,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
6,11.900400,0.0,0.0,0.0,22,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
7,12.396250,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
8,11.442692,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
9,11.900400,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48341,14.875500,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
48342,11.442692,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
48343,12.396250,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
48344,10.625357,0.0,0.0,0.0,24,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
48345,11.900400,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
48346,13.523182,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
48347,12.935217,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
48348,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
48349,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
48350,16.528333,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [7]:
autos.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'baseModel',
       'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2',
       'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [8]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48351 entries, 0 to 48350
Data columns (total 84 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        48351 non-null  float64
 1   barrelsA08       48351 non-null  float64
 2   charge120        48351 non-null  float64
 3   charge240        48351 non-null  float64
 4   city08           48351 non-null  int64
 5   city08U          48351 non-null  float64
 6   cityA08          48351 non-null  int64
 7   cityA08U         48351 non-null  float64
 8   cityCD           48351 non-null  float64
 9   cityE            48351 non-null  float64
 10  cityUF           48351 non-null  float64
 11  co2              48351 non-null  int64
 12  co2A             48351 non-null  int64
 13  co2TailpipeAGpm  48351 non-null  float64
 14  co2TailpipeGpm   48351 non-null  float64
 15  comb08           48351 non-null  int64
 16  comb08U          48351 non-null  float64
 17  combA08          48351 non-null  int64
 18  combA08U         48351 non-null  float64
 19  combE            48351 non-null  float64
 20  combinedCD       48351 non-null  float64
 21  combinedUF       48351 non-null  float64
 22  cylinders        47266 non-null  float64
 23  displ            47268 non-null  float64
 24  drive            47165 non-null  object
 25  engId            48351 non-null  int64
 26  eng_dscr         30601 non-null  object
 27  feScore          48351 non-null  int64
 28  fuelCost08       48351 non-null  int64
 29  fuelCostA08      48351 non-null  int64
 30  fuelType         48351 non-null  object
 31  fuelType1        48351 non-null  object
 32  ghgScore         48351 non-null  int64
 33  ghgScoreA        48351 non-null  int64
 34  highway08        48351 non-null  int64
 35  highway08U       48351 non-null  float64
 36  highwayA08       48351 non-null  int64
 37  highwayA08U      48351 non-null  float64
 38  highwayCD        48351 non-null  float64
 39  highwayE         48351 non-null  float64
 40  highwayUF        48351 non-null  float64
 41  hlv              48351 non-null  int64
 42  hpv              48351 non-null  int64
 43  id               48351 non-null  int64
 44  lv2              48351 non-null  int64
 45  lv4              48351 non-null  int64
 46  make             48351 non-null  object
 47  model            48351 non-null  object
 48  mpgData          48231 non-null  object
 49  phevBlended      48351 non-null  bool
 50  pv2              48351 non-null  int64
 51  pv4              48351 non-null  int64
 52  range            48351 non-null  int64
 53  rangeCity        48351 non-null  float64
 54  rangeCityA       48351 non-null  float64
 55  rangeHwy         48351 non-null  float64
 56  rangeHwyA        48351 non-null  float64
 57  trany            48340 non-null  object
 58  UCity            48351 non-null  float64
 59  UCityA           48351 non-null  float64
 60  UHighway         48351 non-null  float64
 61  UHighwayA        48351 non-null  float64
 62  VClass           48351 non-null  object
 63  year             48351 non-null  int64
 64  youSaveSpend     48351 non-null  int64
 65  baseModel        48351 non-null  object
 66  guzzler          2786 non-null   object
 67  trans_dscr       15044 non-null  object
 68  tCharger         10747 non-null  object
 69  sCharger         1098 non-null   object
 70  atvType          5795 non-null   object
 71  fuelType2        1929 non-null   object
 72  rangeA           1924 non-null   object
 73  evMotor          2896 non-null   object
 74  mfrCode          17543 non-null  object
 75  c240Dscr         141 non-null    object
 76  charge240b       48351 non-null  float64
 77  c240bDscr        135 non-null    object
 78  createdOn        48351 non-null  object
 79  modifiedOn       48351 non-null  object
 80  startStop        16662 non-null  object
 81  phevCity         48351 non-null  int64
 82  phevHwy          48351 non-null  int64
 83  phevComb         48351 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(24)
memory usage: 30.7+ MB

In [9]:
cols = ['city08', 'comb08', 'highway08', 'cylinders', 'displ', 'drive', 'eng_dscr', 'fuelCost08', 'make', 'model', 'trany', 'range', 'createdOn', 'year']

In [10]:
autos[cols].dtypes

city08          int64
comb08          int64
highway08       int64
cylinders     float64
displ         float64
drive          object
eng_dscr       object
fuelCost08      int64
make           object
model          object
trany          object
range           int64
createdOn      object
year            int64
dtype: object

In [11]:
display(autos[cols])

,city08,comb08,highway08,cylinders,displ,drive,eng_dscr,fuelCost08,make,model,trany,range,createdOn,year
0,19,21,25,4.0,2.0,Rear-Wheel Drive,(FFS),2150,Alfa Romeo,Spider Veloce 2000,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
1,9,11,14,12.0,4.9,Rear-Wheel Drive,(GUZZLER),4100,Ferrari,Testarossa,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
2,23,27,33,4.0,2.2,Front-Wheel Drive,(FFS),1650,Dodge,Charger,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
3,10,11,12,8.0,5.2,Rear-Wheel Drive,NaN,4100,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
4,17,19,23,4.0,2.2,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",3100,Subaru,Legacy AWD Turbo,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
5,21,22,24,4.0,1.8,Front-Wheel Drive,(FFS),2050,Subaru,Loyale,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
6,22,25,29,4.0,1.8,Front-Wheel Drive,(FFS),1800,Subaru,Loyale,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
7,23,24,26,4.0,1.6,Front-Wheel Drive,(FFS),1900,Toyota,Corolla,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
8,23,26,31,4.0,1.6,Front-Wheel Drive,(FFS),1750,Toyota,Corolla,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
9,23,25,30,4.0,1.8,Front-Wheel Drive,(FFS),1800,Toyota,Corolla,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48341,18,20,24,4.0,2.1,Front-Wheel Drive,(FFS),2250,Saab,900,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
48342,23,26,33,4.0,1.9,Front-Wheel Drive,(TBI) (FFS),1750,Saturn,SL,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
48343,21,24,30,4.0,1.9,Front-Wheel Drive,(MFI) (FFS),1900,Saturn,SL,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
48344,24,28,33,4.0,1.9,Front-Wheel Drive,(TBI) (FFS),1600,Saturn,SL,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
48345,21,25,32,4.0,1.9,Front-Wheel Drive,(MFI) (FFS),1800,Saturn,SL,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
48346,19,22,26,4.0,2.2,Front-Wheel Drive,(FFS),2050,Subaru,Legacy,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
48347,20,23,28,4.0,2.2,Front-Wheel Drive,(FFS),1950,Subaru,Legacy,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
48348,18,21,24,4.0,2.2,4-Wheel or All-Wheel Drive,(FFS),2150,Subaru,Legacy AWD,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
48349,18,21,24,4.0,2.2,4-Wheel or All-Wheel Drive,(FFS),2150,Subaru,Legacy AWD,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
48350,16,18,21,4.0,2.2,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",3250,Subaru,Legacy AWD Turbo,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993

In [12]:
autos[cols].memory_usage(deep=True)

Index             132
city08         386808
comb08         386808
highway08      386808
cylinders      386808
displ          386808
drive         3175270
eng_dscr      2306526
fuelCost08     386808
make          2675799
model         2940287
trany         3069142
range          386808
createdOn     3723027
year           386808
dtype: int64

In [13]:
autos[cols].memory_usage(deep=True).sum()

np.int64(20984647)

In [14]:
autos[cols].select_dtypes(int).describe()

,city08,comb08,highway08,fuelCost08,range,year
count,48351.000000,48351.000000,48351.000000,48351.000000,48351.000000,48351.000000
mean,20.115137,22.242063,25.959877,2527.220740,9.223015,2004.655912
std,13.191759,12.298466,11.438098,776.097094,56.253988,12.711662
min,6.000000,7.000000,9.000000,0.000000,0.000000,1984.000000
25%,15.000000,17.000000,20.000000,2050.000000,0.000000,1993.000000
50%,18.000000,20.000000,24.000000,2500.000000,0.000000,2006.000000
75%,21.000000,24.000000,28.000000,3000.000000,0.000000,2016.000000
max,153.000000,146.000000,142.000000,8400.000000,640.000000,2025.000000

In [15]:
# chaining
(autos
 [cols]
 .select_dtypes(int)
 .describe()
)

,city08,comb08,highway08,fuelCost08,range,year
count,48351.000000,48351.000000,48351.000000,48351.000000,48351.000000,48351.000000
mean,20.115137,22.242063,25.959877,2527.220740,9.223015,2004.655912
std,13.191759,12.298466,11.438098,776.097094,56.253988,12.711662
min,6.000000,7.000000,9.000000,0.000000,0.000000,1984.000000
25%,15.000000,17.000000,20.000000,2050.000000,0.000000,1993.000000
50%,18.000000,20.000000,24.000000,2500.000000,0.000000,2006.000000
75%,21.000000,24.000000,28.000000,3000.000000,0.000000,2016.000000
max,153.000000,146.000000,142.000000,8400.000000,640.000000,2025.000000

In [16]:
# can comb08 be and int8?
np.iinfo(np.int8)

iinfo(min=-128, max=127, dtype=int8)

In [17]:
np.iinfo(np.int16)

iinfo(min=-32768, max=32767, dtype=int16)

In [18]:
# chaining
(autos
 [cols]
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16'})
 .select_dtypes([int, 'int8'])
 .describe()
)

          highway08    fuelCost08         range          year
count  48351.000000  48351.000000  48351.000000  48351.000000
mean      25.891047   2527.220740      9.223015   2004.655912
std       11.562878    776.097094     56.253988     12.711662
min     -128.000000      0.000000      0.000000   1984.000000
25%       20.000000   2050.000000      0.000000   1993.000000
50%       24.000000   2500.000000      0.000000   2006.000000
75%       28.000000   3000.000000      0.000000   2016.000000
max      127.000000   8400.000000    640.000000   2025.000000

In [19]:
# floats
(autos
 [cols]
 .select_dtypes(float)
 .describe()
)

          cylinders         displ
count  47266.000000  47268.000000
mean       5.698388      3.270202
std        1.772877      1.352909
min        2.000000      0.000000
25%        4.000000      2.200000
50%        6.000000      3.000000
75%        6.000000      4.200000
max       16.000000      8.400000